module.exports = {
    token: '', // discord bot token
    prefix: '!', // prefix for commands, e.g. !report, +report, >report
    ownerId: '', // OPTIONAL: this user id can use owner commands like eval and reload
    activity: 'with potential cheaters.', // OPTIONAL: this is the bot's "game"

    channels: {
        report: '' // what channel should we send reports to?
    },

    emoji: {
        success: '', // emoji to use for success
        fail: '' // emoji to use for fail
    },

    roles: {
        staff: '' // what role can use the close command? must be a role ID!
    }
}